<div class="side-bar-top">
  <div class="userName"><a href="#">Tom</a></div>
  <div class="button-createChat"><a href="#">チャットを作成する</a></div>
</div>
<div class="side-bar-bottom">
  <div class="room"><a href="#">techroom1</a></div>
  <div class="room"><a href="#">techroom1</a></div>
  <div class="room"><a href="#">techroom1</a></div>
  <div class="room"><a href="#">techroom1</a></div>
  <div class="room"><a href="#">techroom1</a></div>
  <div class="room"><a href="#">techroom1</a></div>
  <div class="room"><a href="#">techroom1</a></div>
  <div class="room"><a href="#">techroom1</a></div>
  <div class="room"><a href="#">techroom1</a></div>
  <div class="room"><a href="#">techroom1</a></div>
  <div class="room"><a href="#">techroom1</a></div>
</div>