.wrapper {
    display: flex;
  }
  
  .side-bar {
    background-color: #253141;
    width: 300px;
    height: 100vh;
  }
  
  .side-bar-top {
    height: 100px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .userName a {
    font-size: 16px;
    color: #fafafa;
    text-decoration: none;
  }
  
  .button-createChat a {
    font-size: 10px;
    color: deepskyblue;
    border: solid 1px lightblue;
    padding: 14px;
    text-decoration: none;
  }
  
  .side-bar-bottom {
    height: calc(100vh - 100px);
    background: #2f3e51;
    padding: 0 20px;
    overflow: scroll;
  }
  
  .room {
    padding: 20px 0 40px;
  }
  
  .room a {
    color: white;
    text-decoration: none;
  }
  
  .chat {
    background-color: #ffffff;
    width: calc(100vw - 300px);
  }
  
  .chat-top {
    height: 100px;
    padding: 0 40px;
  }
  
  .chat-middle {
    height: calc(100vh - 100px - 90px);
    background: #fafafa;
    padding: 46px 40px 0;
  }
  
  .chat-bottom {
    height: 90px;
    background: #dddddd;
    padding: 20px 40px;
  }